@import "compass_twitter_bootstrap";

.main-content {
	margin-top: 50px;
}

.sidebar {
	border: 1px solid #ccc;
}

.playlists li .delete {
	display: none;
}

.playlists li:hover .delete {
	display: inline;
}

table.table tr .playing {
	width: 16px;
}