<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
        <title></title>
        <meta name="description" content=""/>
        <meta name="viewport" content="width=device-width"/>
        <!-- <link rel="stylesheet" href="/components/bootstrap/css/bootstrap.css" /> -->
        <link rel="stylesheet" href="styles/index.css"/>
    </head>
    <body>
        <div id="plstr-nav" class="navbar navbar-fixed-top navbar-inverse row-fluid">
            <div class="navbar-inner">
                <div class="container-fluid">
                    <a class="brand" href="#">Playlistr</a>
                    <ul class="nav pull-right">
                        <li>
                        <a href="#plstr-new-playlist-modal" role="button" class="pull-right" data-toggle="modal"><i class="icon-plus icon-white"></i>  New Playlist</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="playlists main-content row-fluid">
            <div id="plstr-sidebar" class="sidebar span2">
                
            </div>
            <div id="plstr-main" class="main span10">
            
            </div>
        </div>

        <div id="plstr-modal"></div>

        
        <form id="plstr-new-playlist-modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="newPlaylist" aria-hidden="true">
        
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h3>New Playlist</h3>
        </div>
        <div class="modal-body">
            
                <fieldset>
                    <label>Title</label>
                    <input name="title" type="text" placeholder="My Playlist" />
                    <label>Description</label>
                    <textarea name="description"></textarea>
                </fieldset>
            
        </div>
        <div class="modal-footer">
            <button href="#" class="btn plstr-close">Close</button>
            <button type="submit" href="#" class="btn btn-primary">Create Playlist</button>
        </div>
        </form>

        <script type="text/html" id="plstr-tmpl-playlists">
            <ul class="nav nav-list">
                
            </ul>
        </script>

        <script type="text/html" id="plstr-tmpl-playlist-list-item">
            <%= title %><a href="#" class="delete"><i class="icon-trash"></i></a>
        </script>

        <script type="text/html" id="plstr-tmpl-sound-item">
            <td class="icon <%= playing ? 'playing' :'' %>"><% if (playing) { %><i class="icon-play"></i><% } %></td>
            <td class="<%= playing ? 'playing' :'' %>"><%= title %><br /><img class="span6 waveform" src="<%= waveform_url %>" alt= "" /></td>
        </script>
        <script type="text/html" id="plstr-tmpl-playlist-detail">
        
            <div class="span8">
            <h1><%= title %></h1>
            <p><%= description %></p>
            <p><a class="btn start play"><i class="icon-play"></i> Play All</a> <a class="btn pause"><i class="icon-pause"></i> Pause</a> <a class="btn stop"><i class="icon-stop"></i> Stop</a></p>
            <table class="table playlist">
                <thead>
                    <tr>
                        <th class='icon'>&nbsp;</th>
                        <th>Track</th>
                    </tr>
                </thead>
                <tbody>

                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="2">
                            <form id="plstr-form-add-sound" class="form form-inline">
                                <fieldset>
                                    <label>Add Sound:</label> 
                                    <input name="uri" placeholder="Enter Soundcloud Url" /> 
                                    <button type="submit" class="btn">Add Sound</button>
                                </fieldset>
                            </form>
                        </td>
                    </tr>
                </tfoot>
            </table>
            </div>

            <div class="span1 offset1">
                <form id="plstr-playlist-details" class="form">
                    <fieldset>
                        <label>Title</label>
                        <input name="title" type="text" value="<%= title %>" />
                        <label>Description</label>
                        <textarea name="description"><%= description %></textarea>   
                        <button class="btn">Save Changes</button>
                    </fieldset>
                </form>
            </div>
        

        </script>
        <script type="text/html" id="plstr-alert">
            <div class="alert alert-<%= type %>">
            <%= message %>
            </div>
        </script>
        </script>

        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
        <![endif]-->

        <!-- Add your site or application content here -->

        
        <script src="//connect.soundcloud.com/sdk.js"></script>
        <script type="text/javascript">
            SC.initialize({
                client_id: '4fb5b0db1d4852e4b1487a0254a74b70'
            });
        </script>
        <!-- build:js scripts/amd-app.js -->
        <script data-main="scripts/config" src="scripts/libs/require.js"></script>
        <!-- endbuild -->

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
            var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
            (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
            g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
            s.parentNode.insertBefore(g,s)}(document,'script'));
        </script>
    </body>
</html>
