<div class="navbar navbar-fixed-top navbar-inverse row-fluid">
	<div class="navbar-inner">
		<div class="container-fluid">
			<a class="brand" href="#">Playlistr</a>
			<ul class="nav pull-right">
				<li>
				<a href="#plstr-new-playlist" role="button" class="pull-right" data-toggle="modal"><i class="icon-plus icon-white"></i> Create New Playlist</a>
				</li>
			</ul>
		</div>
	</div>
</div>


<!-- <div class="playlists" ng-subview></div> -->

<div class="playlists main-content row-fluid">
	<div class="sidebar span2">

	</div>

	<div class="detail" class="span10">
		Main
	</div>
</div>


